<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RunningAllClasses">

    <!-- First test block -->
    <test thread-count="5" name="Test">
        <classes>
            <class name="day1.Lab001"/>
            <class name="day1.lab002"/>
            <class name="day1.lab003"/>
        </classes>
    </test>

    <!-- Second test block -->
    <test thread-count="5" name="Loans">
        <classes>
            <class name="day1.lab004">
            <methods>
            <exclude name="mobilehomeloan"/>
            </methods>
            </class>
        </classes>
    </test>

</suite>